.main-container {
    background-color: #fff;
    width: 100%;
    height: 35vh;
    position: relative;
}
.container {
    position: relative;
    bottom: 3vh;
    margin-top: 20vh;
    width: 70%;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-align: center;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 10%);
}

.title {
    transition: 0.4s;
    margin-bottom: 0;
    font-size: 2vh;
    font-weight: 500;
    line-height: 1.2;
    padding: 8vh 25px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dis {
    transition: 0.4s;
    font-size: 1.5vh;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.3;
    margin: 0px 1vw;
}

@media screen and (min-width: 1025px) {
    .learn-more {
        transition: 0.4s;
        color: rgb(255, 131, 152);
        margin-top: 5%;
        cursor: pointer;
        display: none;
        font-size: 1vh;
    }
    .box:hover .title {
        padding-top: 4vw;
    }
    .box:hover .dis {
        width: -moz-fit-content;
        width: fit-content;
    }
    .box:hover .learn-more {
        font-size: 2vh;
        transition: 0.4s;
        display: block;
    }

    .learn-more:hover {
        padding: 1vw 0px;
        color: white;
        background-color: rgb(255, 131, 152);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        height: 50vh;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 2vh;
        border: none;
        border-radius: 0px;
        box-sizing: 0px;
        width: 100%;
    }
    .box {
        flex: 0 0 45%;
        max-width: 45%;
        margin: auto;
    }
    .dis {
        width: 22vw;
        margin: auto;
    }

    .learn-more {
        margin-top: 2vh;
        padding-bottom: 2vh;
        font-size: 1.5vh;
        display: block;
        color: rgb(255, 131, 152);
        cursor: pointer;
    }
    .title {
        padding: 2vh;
    }
}
@media screen and (max-width: 600px) {
    .container {
        height: -moz-fit-content;
        height: fit-content;
    }
    .main-container {
        background-color: #ffffff00;
    }
}
