.main-container {
    background-color: #fff;
    width: 101%;
    height: 35vh;
    position: relative;
}
.container {
    position: relative;
    bottom: 3vh;
    margin-top: 20vh;
    width: 60%;
    height: 25vh;
    background-color: white;
    border-radius: 5px;
    padding-right: 1vh;
    padding-left: 1vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    text-align: center;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 10%);
}

.title {
    transition: 0.4s;
    margin-bottom: 0;
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2;
    padding: 6vw 25px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dis {
    transition: 0.4s;
    font-size: 1vh;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px 10px;
}

.learn-more {
    transition: 0.4s;
    color: rgb(255, 131, 152);
    margin-top: 5%;
    cursor: pointer;
    display: none;
    font-size: 1vh;
}
.box:hover .title {
    padding-top: 5vw;
}
.box:hover .learn-more {
    transition: 0.4s;
    display: block;
}

.learn-more:hover {
    padding: 1vw 0px;
    color: white;
    background-color: rgb(255, 131, 152);
}
