.footer {
    margin-left: 0;
    width: 101vw;
    height: 42vh;
    background-color: black;
    position: absolute;
}

.footer-info {
    display: flex;
    color: aliceblue;
    font-size: 1.45vh;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    padding-top: 4vh;
    font-size: 1.3vh;
}

.main-footer {
    line-height: 1.5;
    width: 12vw;
}
.main-footer1 {
    width: 20vw;
    margin-top: 2.3vh;
}
.main-footer2 p {
    cursor: pointer;
}
.main-footer2 p:hover {
    transition: 0.4s;
    color: red;
}

.cpr {
    font-size: 1.2vh;
    margin-top: 3vh;
    text-align: center;
    color: white;
}
.footer img {
    height: 3vh;
}

@media screen and (max-width: 1024px) {
    .footer {
        height: inherit;
    }
    .footer-info {
        flex-wrap: wrap;
    }
    .main-footer {
        flex: 0 0 45%;
        max-width: 45%;
    }
}
