body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-image: url(./assets/header-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
