html {
    display: flex;
    justify-content: center;
    position: relative;
}

li::first-letter {
    text-transform: capitalize;
}

input {
    border: 1px;
    border-bottom: solid;
}

ul {
    padding-left: 0px;
}
